<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="time" href="/time">
      <ion-icon aria-hidden="true" name="time"></ion-icon>
      <ion-label>Erfassen</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="analysis" href="/analysis" disabled>
      <ion-icon aria-hidden="true" name="pie-chart"></ion-icon>
      <ion-label>Analyse</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings" href="/settings" disabled>
      <ion-icon aria-hidden="true" name="settings"></ion-icon>
      <ion-label>Einstellungen</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
