<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Analyse
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Analyse</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-item>
    <ion-label>Tag</ion-label>
    <ion-datetime-button datetime="current-datetime-analysis"></ion-datetime-button>

    <ion-modal [keepContentsMounted]="true">
      <ng-template>
        <ion-datetime id="current-datetime-analysis" presentation="date" [(ngModel)]="currentDate" (ngModelChange)="updateCurrentDate()"></ion-datetime>
      </ng-template>
    </ion-modal>
  </ion-item>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Noch zu arbeiten</ion-card-title>
      <ion-card-subtitle *ngIf="combinedWorkTime > (settings.maxWorkTime + settings.desiredOverTime)">Tagessoll erreicht!</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <canvas #chart></canvas>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Auswertung</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-icon aria-hidden="true" name="briefcase" slot="start"></ion-icon>
          <ion-label>
            {{formatTime(workTime)}} von {{formatTime(settings.maxWorkTime)}} <span *ngIf="driveTime > 0">(+{{formatTime(driveTime)}} Reisezeit)</span>
            <ion-progress-bar class="work-progress" [value]="workTime / settings.maxWorkTime" [buffer]="(workTime + driveTime) / settings.maxWorkTime" />
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-icon aria-hidden="true" name="pizza" slot="start"></ion-icon>
          <ion-label>
            {{formatTime(pauseTime)}} von {{formatTime(maxPauseTime)}}
            <ion-progress-bar *ngIf="pauseTime <= maxPauseTime" [value]="pauseTime / maxPauseTime" />
            <ion-progress-bar *ngIf="pauseTime > maxPauseTime" value="1" color="warning" />
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-icon aria-hidden="true" name="card" slot="start"></ion-icon>
          <ion-label>
            {{formatTime(Math.max(combinedWorkTime - settings.maxWorkTime, 0))}} von {{formatTime(settings.desiredOverTime)}} ({{formatTime(settings.maxOverTime)}} maximal)
            <ion-progress-bar
              *ngIf="combinedWorkTime - settings.maxWorkTime <= settings.maxOverTime"
              class="work-progress" id="overtime"
              [value]="(combinedWorkTime - settings.maxWorkTime) / settings.maxOverTime"
              [buffer]="settings.desiredOverTime / settings.maxOverTime"
            />
            <ion-progress-bar *ngIf="combinedWorkTime - settings.maxWorkTime > settings.maxOverTime" value="1" color="danger" />
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
